.content-wrapper {
    margin-top: 10px;
}

.content-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.content-search-input {
    width: calc(100% - 60px);
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    font-size: 20px;
    color: #e6d5b1;
    letter-spacing: 0.5px;
}

.content-search-input:not([type="button"]):not([type="submit"]):not([type="reset"]):hover,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
    border: 1px solid #eee6d4;
    outline: none;
}

.content-search-button {
    width: 50px;
    border-radius: 25px;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.content-search-button>svg {
    width: 48px;
    padding: 11px;
    fill: #e6d5b1;
}