
@font-face {
  font-family: "ProductSansBold";
  src: url("./fonts/Product Sans Bold.ttf")  format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "ProductSansRegular";
  src: url("./fonts/Product Sans Regular.ttf")  format("truetype");
}

html{
  scroll-behavior: smooth;
  background-color: #f5fbfa;
}
.app {
  width: 100vw;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'ProductSansBold', sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
